# Configuration file
#
# Available levels: "beginner", "intermediate", "advanced", "arbitrary"
# The value represents the times a silent dot sound is played (dot_sound_length * value = delay in milliseconds)
# "delay_between_sounds" is the delay between "dot and dot", "dot and dash", "dash and dash"
# arbitrary delay configuration will be ignored if level is not set to 'arbitrary'
#
# ===== Specific level values =====
# beginner
# * delay_between_sounds = 3
# * delay_between_characters = 5
# * delay_between_words = 9
#
# intermediate (Farnsworth Timing)
# * delay_between_sounds = 1
# * delay_between_characters = 5
# * delay_between_words = 9
#
# advanced (Standard Timing)
# * delay_between_sounds = 1
# * delay_between_characters = 3
# * delay_between_words = 7
#
#
# Supported file formats with their respective bitrates
# Lower bitrates will result in smaller file sizes but may degrade audio quality
#
# "mp3": "32k", "64k", "96k", "128k", "192k", "256k", "320k"
# "ogg": "48k", "64k", "96k", "128k", "160k", "192k", "256k", "320k", "500k"
# "wav": bitrate ignored
# "flac": bitrate ignored
# 
#
# You can decide to use the current time in the name of the output file by setting "use_current_time" to "1"
#
#
# ==========================
#  EDIT THE SETTINGS BELOW
# ==========================

[settings]
dot_sound_file = sounds/dot.mp3
dash_sound_file = sounds/dash.mp3
file_name = morse
use_current_time = 1
file_format = mp3
bitrate = 32k
word_separator = /
level = beginner
arbitrary_delay_between_sounds = 3
arbitrary_delay_between_characters = 9
arbitrary_delay_between_words = 13